<% if (theme.google_analytics.enable){ %>
    <div style="display:none;">
        <script src="https://s19.cnzz.com/z_stat.php?id=1262002531&web_id=1262002531" language="javascript"></script>
    </div>
<% } %>
